$light-pink: #dc9a9a;
$deep-champagne: rgba(255, 214, 165, 1);
$lemon-yellow-crayola: rgba(253, 255, 182, 1);
$tea-green: #91b18a;
$celeste: #c3d3ec;
$baby-blue-eyes: #7993bf;
$maximum-blue-purple: #b5c2d8;
$mauve: rgba(255, 198, 255, 1);
$baby-powder: rgba(255, 255, 252, 1);